@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/lemonmilk");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

header {
  width: 100%;
  z-index: 5;
  background: #f4a261;
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-logo .logo-text {
  color: black;
}

.nav-logo {
  display: flex;
}

.nav-logo img {
  width: 45px;
  margin-right: 10px;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: black;
  border-radius: 10px;
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: black;
  background: #a8c686;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px;
  height: 70vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, white 100%),
    url("../images/recipeBannerBack.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.banner h1 {
  width: 40%;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  font-family: "Newsreader", serif;
  margin-bottom: 5vh;
  margin-left: 13vw;
  text-align: start;
}

.banner p {
  width: 40%;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Newsreader", serif;
  margin-bottom: 5vh;
  margin-left: 13vw;
  text-align: start;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 20px;
}

.search-bar {
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 1rem;
}

.container button {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.backgroundBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 60%, white 100%),
    url("../images/recipeBannerBack2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cards, .search-results {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards h1, .search-results h1 {
  width: 100%;
  text-align: start;
  padding: 30px;
  text-decoration: underline;
  font-size: 1.7rem;
  font-family: "Lemon/Milk", sans-serif;
  font-weight: 400;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.card {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  min-height: 42vh;
  max-height: 42vh;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.13);
  background-color: white;
  font-family: "Lemon/Milk", sans-serif;
  font-weight: 400;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.name h3 {
  width: 100%;
  font-size: 1.2rem;
  white-space: nowrap;
  transform: translateX(0%);
  transition: 5s ease-in-out;
}

.name h3:hover {
  transform: translateX(calc(-130% + 200px));
}

.ratings {
  width: 100%;
  display: flex;
  justify-content: first baseline;
  align-items: center;
}

.ratings img {
  width: 20px;
}

.ratings p {
  font-size: 1.1rem;
  margin-left: 10px;
}

.card a {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #f4a261;
  color: black;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
  text-align: center;
}

.card a:hover {
  background: rgb(255, 206, 116);
  color: black;
}

.footer {
  width: 100%;
  background: rgb(16, 3, 34);
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col img{
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}